* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-bg: #151618;
    --color-primary: #4db5ff;
    --color-secondary: #6440fb;
}

body {
font-family: Arial,;
    line-height: 1.8;
    background: var(--color-bg);
    color: white;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

section {
    padding: 7rem 0;
}

section span {
    text-align: center;
    margin-bottom: 5rem;
}

h1 {
    font-size: 1.8rem;
}

span {
    color: var(--color-primary);

}

a {
    color: white;
   
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn,
.btn1,

.btn-primary {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-weight: 600;
}

.btn {
    background-color: var(--color-primary);
    color: rgb(49, 10, 243);
}

.btn1 {
    background-color: rgb(79, 123, 209);
    color: rgb(218, 201, 221);
}

.btn-primary {
    background-color: transparent;
    color: white;
    border-color: white;
}

.btn:hover,
.btn1:hover,
.btn-primary:hover {
background-color: black;
    color: white;
}

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.window-scroll {
background-color: skyblue;
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
backdrop-filter: blur(10px);
padding: 2rem 4rem;
border-radius: 0.5rem;
}
.navDi {
    display: flex;
    height: 100%;
   justify-content: space-between;
    align-items: center;

}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4.3rem;
}

.nav-menu a {
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-menu:hover a {
    color: var(--color-primary);
}

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 80vh;
    margin-bottom: 5rem;
}

.container-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    height: 100%;
}

.header-left p {
    margin: 1rem 0 2.4rem;
}

.storise-section {
    background-color: #151618;
}

.storise-section h1 {
    line-height: 1;
    margin-bottom: 4rem;
}

.storise-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3rem;
}

.storise-section-left p {
    margin-bottom: 2rem 0;
}

.storise-section-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.storise-logo {
    background-color: #adc4d5;
    padding: 2rem;
    border-radius: 2rem;
    transition: box-shadow 0.3s ease, color 0.3s ease;
   

      
}

.storise-logo:hover {
    box-shadow: 0rem 3rem rgba(75, 132, 229, 0.3);
    color: white;
}


.main-one{
    margin-top: 10rem;
    text-align: center;


}


 h1 {
    margin-bottom: 5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(13, 118, 222, 0.792);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #121316;
    color: rgb(164, 195, 208);
    margin-bottom: 20px
}

.main {
    display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 3rem;
}

.main-art{
    background: skyblue;
    text-align: center;
 border: 1px solid transparent;
padding: 2rem;
transition: all 0.4s ease;
}

.main-art p {
margin: 1.4rem 0 2rem;
font-size: 0.9rem;

}


.main-art:hover{
    background: transparent;
   border-color: skyblue;
}


.cards {
    background-color: skyblue;
box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);

}


.container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.cardone{
    padding: 2rem;
    display: flex;
    align-items: center;
gap: 1.5rem;
height: fit-content;
background-color: #121316;
cursor: pointer;
}

.cardone {
    font-size: 1rem;
  line-height: 2.2;
}

.cardone p {
    margin-top: 0.8rem;
    display: none;
}

.cardone.open p{
    display: block;
}

.container-cards {
align-self: flex-start;
font-size: 1.4rem;
}


nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.navDi {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4.3rem;
}

.nav-menu a {
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-menu:hover a {
    color: var(--color-primary);
}

/* Responsive Styles */


@media screen and (max-width: 768px) {
    .container {
      width: 95vw;
    }
  
    .header-left,
    .header-right {
      text-align: center;
    }
  
    .header-right-img {
      margin-top: 2rem;
    }
  
    .storise-container {
      grid-template-columns: 1fr;
    }
  
    .storise-section-right {
      grid-template-columns: 1fr;
    }
  
    .main {
      grid-template-columns: 1fr;
    }
  
    .container-cards {
      grid-template-columns: 1fr;
    }
  }
@media screen and (max-width: 768px) {
    .navDi {
        justify-content: space-between;
    }

    nav button {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #151618;
        padding: 1rem 0;
    }

    .nav-menu li {
        margin-bottom: 1rem;
    }

    .nav-menu a {
        font-size: 1.2rem;
        color: white;
        transition: color 0.3s ease;
    }

    .nav-menu a:hover {
        color: var(--color-primary);
    }

    .nav-menu.open {
        display: flex;
    }
}













.footer-distributed{
	background: #131313;
	box-shadow: 0 1px 1px 0 rgba(3, 149, 247, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    margin-top: 10%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #0b0c0c;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

video {
max-width: 40%;
height: 40%;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
